<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/techPortfolio.css">
        <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <p class="logo">Technical Portfolio Projects</p>
            <div class="cart"><i class="fa-solid"></i><p id="count">0</p></div>
        </div>
        <div class="container">
            <div id="root"></div>
            <div class="sidebar">
                <div class="head"><p>My Technical Portfolio Groups</p></div>
                <div id="cartItem">Group list empty</div>
                <div class="foot">
                    <h3>Total</h3>
                    <h2 id="total"> 0 </h2>
                </div>
            </div>
        </div>
        <div class="footer">
            <a class="tech_portfolio_home_link" href="{{ url_for('index') }}">&#x2190; Return Home</a>
        </div>
        <script src="../static/scripts/techPortfolio.js"></script>
    </body>
</html>